.ToDo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;

    width: 100vw;
    min-height: 100vh;
}
.ToDoContent{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;

    margin: 0.5em;

    max-width: calc(740px - 1em);
    width: calc(100% - 1em);
    height: 100%;

    background-color: #111;
}
.TaskList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;

    width: 100%;
    height: 100%;

    background-color: #222;
}

.Form{

    padding: 0.5em;
    
    width: calc(100% - 1em);
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;

    background-color: #333;
}
.TextInput{
    margin: 0.5em;

    padding: 1em;
    
    min-width: calc(50% - 1.5em);

    flex-grow: 1;

    border: none;
    outline: none;
    text-decoration: none;
    background-color: #eee;
    border-radius: 2px;
}
.ButtonTextInput{
    margin: 0.5em;
    
    max-width: calc(50% - 1.5em);

    padding: 1em;
    border: none;
    background-color: #eee;
    border-radius: 2px;
}

.Tasks{
    padding: 0.5em;
    width: calc(100% - 1em);

    display: flex;
    flex-direction: column;

    overflow: auto;

    background-color: #333;

}
.Task{

    display: flex;
    flex-direction: row;

    background-color: #444;
}
.containerCheckBox{
    margin: 0.5em;
    width: calc(100% - 1.5em);
    padding: 0.25em;
    background-color: #eee;
    border-radius: 2px 0 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerCheckBox:hover input ~ .spanChackBox{
    background-color: #ccc;
}
.containerCheckBox input:checked ~ .spanChackBox{
    background-color: #ff0a54;
}
.containerCheckBox .spanChackBox:after{
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    display: none;
    margin-top: -3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.containerCheckBox input:checked ~ .spanChackBox::after{
    display: block;
}
.spanChackBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 2px;
    border: 3px solid #fff;
}
.CheckInput{
    display: none;
}
.Label{
    margin: 0.5em;
    width: calc(100% - 1.5em);
    padding: 0.25em;
    flex-grow: 1;
    background-color: #eee;
    border-radius: 2px;
}
.ButtonCheckInput{
    margin: 0.5em;
    width: calc(100% - 1.5em);
    padding: 0.25em;
    border: none;
    outline: none;
    text-decoration: none;
    background-color: #eee;
    border-radius: 2px;
}

.cortado{
    text-decoration:line-through;
}