.Buttons{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
    padding: 0.5em 0;
}
.Button{
    min-width: 3em;
    min-height: 3em;
    margin: 0.25em;
    margin-left: 0;
    padding: 0.25em;
    font-size: 0.75em;
}