


.Notepad *{
    font-size: 1.6rem;
    letter-spacing: normal;
    line-height: calc(1.6rem / 100 * 120);
    /* border-radius: 4px; */

    transition: all ease 0.1s;
}

.Notepad{
    width: 100%;
    min-height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    background-color: #eee;
}

    .NotepadContent{
        width: 100%;
        max-width: 1024px;
        min-height: 100%;
        overflow: auto;
        display: flex;
        justify-content: center;
        align-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }

        .NotepadPainelOfNotes{
            margin: 2rem;
            padding: 2rem;
            width: calc(100% - 2.0rem);
            max-width: calc(1024px - 2.0rem);
            min-width: calc(280px - 2.0rem);
            min-height: calc(100% - 4.0rem);
            overflow: auto;

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(calc(200px - 2rem), calc(100px - 2rem)));
            grid-template-rows: repeat(auto-fit, minmax(calc(200px - 2rem), calc(100px - 2rem)));
            gap: 2rem;

            background-color: white;
            position: relative;

        }

            .ButtonAdicionar{
                position: absolute;
            }

            .NotepadNotes{
                padding: 1rem;
                width: 100%;
                max-width: calc(200px - 2rem);
                min-width: calc(100px - 2rem);
                height: 100%;
                max-height: calc(200px - 2rem);
                min-height: calc(100px - 2rem);
                overflow: auto;
                border: 1px solid black;
                position: relative;
            }

                .NoteButton{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .NoteButtonClose{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
                .InputTitle{
                    
                }
                .TextArea{

                }



.cortado{
    text-decoration: line-through;
}

::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 4px;
}
::-webkit-scrollbar {
    width: 6px;
    background: #ccc;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 4px;
}