.Search{
    width: calc(50% - 2em);
    padding: 1em;
    margin: 0 1em;
    font-size: 1.25em;
    letter-spacing: 0.1em;
    border: none;
    font-family: Space;
    background-color: #fff9fb;
    font-family: "Space Mono Regular";
    font-weight: bolder;
}